<h1>Eldest director</h1>
<p>
  <% oldest_direct = Director.all.order({ dob: :asc })%>

  The eldest director in our dataset right now is <a href="/directors/<%= oldest_direct.at(0).id %>"><%=oldest_direct.at(0).name %></a>, born on <%= oldest_direct.at(0).dob.strftime("%B %e, %Y") %>.
</p>
